
* {
  outline: none;
}

div.diode {
  background-color: red;
  transform: translate(-50%, -50%);
  position: absolute;
  cursor: pointer;
}

div.diode.medium {
  width: 30px;
  height: 30px;
}

svg {
  z-index: -1;
}