
* {
  outline: none;
}

div.diode {
  background-color: red;
  transform: translate(-50%, -50%);
  position: absolute;
  cursor: pointer;
}

div.diode.medium {
  width: 30px;
  height: 30px;
}

svg {
  z-index: -1;
}
line {
  stroke: rgb(255,0,0); 
  stroke-width: 4;
  transition: .1s;
  cursor: pointer;
}

line:hover {
  stroke-width: 10;
}